<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Pet Shop - Camas e Acessórios</title>
    <link rel="stylesheet" href="../templates/styles/beds-acss.css">
</head>
<body>

    <header>
        <h1>Catálogo Pet Shop - Camas e Acessórios</h1>
        <nav>
            <ul>
                <li><a href="home.html">Página Inicial</a></li>
                <li><a href="dogs.html">Brinquedos para Cachorros</a></li>
                <li><a href="cats.html">Brinquedos para Gatos</a></li>
                <li><a href="beds-acss.html">Camas e Acessórios</a></li>
                <li><a href="hygiene.html">Utensílios de Higiene</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="category">
            <h2>Camas para Cachorros e Gatos</h2>

            <div class="product">
                <img src="../img/camacachorro.jpeg" alt="Cama para Cachorro Grande 70X55 Com Zíper Estampa Geométrico Turquesa Cinza
                ">
                <div>
                    <h4>Cama para cachorro com Zíper</h4>
                    <p>"A cama para cachorro é ideal para cachorros de grande porte. Ela é confortável, macia <br>
                        e fará seu bichinho ter ótimos descansos e boas noites de sono."</p>
                    <p><strong>Marca:</strong> Genérico</p>
                    <p><strong>Preço:</strong> R$ 71,40</p>
                    <p><strong>Cor:</strong> Estampado</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/camagatos.jpeg" alt="Cama Pawise para Gatos Bloster Cinza">
                <div>
                    <h4>Cama Pawise para gatos</h4>
                    <p>"Os gatinhos precisam de um cantinho para descansar e a caminha de gatos <br>
                        Pawise são as melhores, trazendo conforto e relaxamento."</p>
                    <p><strong>Marca:</strong> Pawise</p>
                    <p><strong>Preço:</strong> R$ 69,90</p>
                    <p><strong>Cor:</strong>Cinza</p>
                </div>
            </div>


        </section>

        <div class="green-divider"></div>

        <section class="category">
            <h2>Caixas de areia e Areia para Gatos</h2>
            <div class="product">
                <img src="../img/areiapipicat.jpg" alt="Areia Granulada Sanitário">
                <div>
                    <h4>Pipicat Granulado Sanitário Floral 4 kg</h4>
                    <p>"É uma areia perfeita para os gatos fazerem as suas necessidades fisiológicas <br>
                        sem deixar odor e trazendo maior absorção."</p>
                    <p><strong>Marca:</strong> Pipicat</p>
                    <p><strong>Preço:</strong> R$ 18,94</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/areiakets.jpeg" alt="Areia Higiênica Kets Gatíssimo Fina Sem Perfume para Gatos 4kg">
                <div>
                    <h4>Areia Higiênica Kets</h4>
                    <p>"A areia higiênica da Kets é 100% natural. Cuida da saúde do seu animal e<br>
                        além de tudo isso ainda vem com carvão ativado que ajuda a eliminar o forte odor."</p>
                    <p><strong>Marca:</strong> Kets</p>
                    <p><strong>Preço:</strong> R$ 12,80</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/caixaareiarosa.jpeg" alt="Kit Higiênico Gato Four-Plastic Rosa Four Plastic para Gatos">
                <div>
                    <h4>Kit Higiênico Gato Four-Plastic Rosa</h4>
                    <p>"Kit higiênico com bandeja para areia, pá e comedouro rosa<br>
                        de plástico super resistente."</p>
                    <p><strong>Marca:</strong> Four Plastic</p>
                    <p><strong>Preço:</strong> R$ 21,90</p>
                    <p><strong>Cor:</strong>Rosa</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/caixaareiaazul.jpeg" alt="Kit de Bandeja DuraPets Single Azul para Gatos">
                <div>
                    <h4>Kit Higiênico DuraPets Azul</h4>
                    <p>"Kit higiênico com bandeja para areia, pá e comedouro azul<br>
                        de plástico super resistente."</p>
                    <p><strong>Marca:</strong> DuraPets</p>
                    <p><strong>Preço:</strong> R$ 24,90</p>
                    <p><strong>Cor:</strong>Azul</p>
                </div>
            </div>

        </section>

        <div class="green-divider"></div>

        <section class="category">
            <h2>Arranhador para Gatos</h2>

            <div class="product">
                <img src="../img/arranhadorduplo.jpeg" alt="Arranhador Para Gatos Poste Com Brinquedo Duplo Exclusivo (Bege)">
                <div>
                    <h4>Arranhador poste para Gatos</h4>
                    <p>"O Arranhador Duo Square Cat é feito em madeira para maior durabilidade <br>
                        o Sisal é de alta qualidade para seu gato arranhar por muito tempo<br>
                        e possui pelúcia de alta qualidade e anti-alérgica."</p>
                    <p><strong>Marca:</strong> Le Petin</p>
                    <p><strong>Preço:</strong> R$ 153.80 </p>
                    <p><strong>Cor:</strong> Bege</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/arranhadornormal.jpeg" alt="Arranhador Hello Pet Sisal e Pelucia Bege para Gatos Tamanho P">
                <div>
                    <h4>Arranhador Hello Pet</h4>
                    <p>"O arranhador Hello Pet tamanho P traz entretenimento e diversão para seu Pet<br>
                        evita que o animal arranhe móveis e sofás e proporciona o desgaste<br>
                        natural das garras do gato."</p>
                    <p><strong>Marca:</strong>Hello Pet</p>
                    <p><strong>Preço:</strong> R$ 57,90</p>
                    <p><strong>Cor:</strong>Bege</p>
                </div>
            </div>


        </section>

        <div class="green-divider"></div>

        <section class="category">
            <h2>Coleira para Cães</h2>

            <div class="product">
                <img src="../img/coleirablack.jpeg" alt="Coleira Toh com Tag ID Black para Cães">
                <div>
                    <h4>Coleira Toh com Tag ID Black para Cães</h4>
                    <p>"Possui costura em poliamida reforçada e segura para usar<br>
                        no dia a dia; Resistente e não enferruja."</p>
                    <p><strong>Marca:</strong> Toh</p>
                    <p><strong>Preço:</strong> R$ 37,99</p>
                    <p><strong>Cor:</strong> Preta</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/coleiraeguia.jpeg" alt="Coleira com Guia Toh Oliva para Cães">
                <div>
                    <h4>Coleira com Guia</h4>
                    <p>"Coleira de fácil regulagem, costuras em nylon mais resistentes<br>
                        garantindo a segurança total dos acessórios<br>
                        Em embalagem com 1 coleira e 1 guia."</p>
                    <p><strong>Marca:</strong>Toh</p>
                    <p><strong>Preço:</strong> R$ 55,99</p>
                    <p><strong>Cor:</strong>Verde Oliva</p>
                </div>
            </div>


        </section>

        <div class="green-divider"></div>

        <section class="category">
            <h2>Caixas de tranporte</h2>

            <div class="product">
                <img src="../img/caixapreta.jpeg" alt="Caixa de Transporte Furacão Pet Joy Preta para Cães e Gatos">
                <div>
                    <h4>Caixa de transporte para cães e gatos</h4>
                    <p>"Indicada para cães e gatos; Super-resistente, higiênica e fácil de lavar."</p>
                    <p><strong>Marca:</strong> Furacão Pet</p>
                    <p><strong>Preço:</strong> R$ 40,80</p>
                    <p><strong>Cor:</strong> Preta</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/caixamarrom.jpeg" alt="Caixa de Transporte Furacão Pet Joy Marrom para Cães e Gatos">
                <div>
                    <h4>Caixa de transportes para cães e gatos</h4>
                    <p>"Indicada para cães e gatos; Super-resistente, higiênica e fácil de lavar."</p>
                    <p><strong>Marca:</strong>Furacão Pet</p>
                    <p><strong>Preço:</strong> R$ 58,99</p>
                    <p><strong>Cor:</strong>Marrom</p>
                </div>
            </div>


        </section>

        <div class="green-divider"></div>

        <section class="category">
            <h2>Tijelas para Cães e Gatos</h2>

            <div class="product">
                <img src="../img/tijelacachorro.jpg" alt="Chalesco Tigela Para Cães 1450 Ml">
                <div>
                    <h4>Tijela para cães Chalesco</h4>
                    <p>"Indicado para cães, a Tigela Inox Chalesco é produzida com excelente material<br>
                        para que não acumule sujeira, possui um recipiente amplo e limpo<br>
                        que alimenta o seu melhor amigo canino."</p>
                    <p><strong>Marca:</strong> Chalesco</p>
                    <p><strong>Preço:</strong> R$ 14,66</p>
                </div>
            </div>

            <div class="product">
                <img src="../img/tijelakit.jpg" alt="Kit 2 Potes Comedouro e Bebedouro Em Inox Anti Derrapante 240 ml Patas Relevo Mini">
                <div>
                    <h4>Kit 2 potes comedouro e Bebedouro em Inox 240 ml</h4>
                    <p>"Produzida com inox, não acumula sujeira e proporciona um pote ideal<br>
                        para o alimento do seu bichinho."</p>
                    <p><strong>Marca:</strong>Jheppbay</p>
                    <p><strong>Preço:</strong> R$ 58,99</p>
                </div>
            </div>

            <div class="product">
            <img src="../img/tijelagato.jpg" alt="Tigela para gatos Van Ness Pets, 8 onças, 236 ml, aço inoxidável">
            <div>
                <h4>Tijela para Gatos em Inox 236 ml</h4>
                <p>"Tigela antiderrapante estilo pires raso, ideal para gatos.<br>
                    Feito de aço inoxidável higiênico de alta qualidade, altamente polido e com acabamento fácil de limpar."</p>
                <p><strong>Marca:</strong>Van Ness</p>
                <p><strong>Preço:</strong> R$ 35,99</p>
            </div>
        </div>

        </section>

        <nav class="pagination">
            <a href="home.html">Página Inicial</a>
            <a href="dogs.html">Brinquedos para Cachorros</a>
            <a href="cats.html">Brinquedos para Gatos</a>
            <a href="hygiene.html">Utensílios de Higiene</a>
        </nav>
    </main>

    <footer>
        <p>&copy; 2024 Pet Shop</p>
    </footer>

</body>

</html>