<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Veterinária</title>
    <link rel="stylesheet" href="../css/veterinario.css" >
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
    </style>
</head>

<header>
    <div class="wrapper">
        <h1>Littlest Pet Shop</h1>
    </div>
</header>
<body>

    <div>
    
       
        <h1>Consulta Veterinária</h1>
        <div>
        <img src="" alt="Imagem Veterinária">

            <p>Agende sua consulta com nossos veterinários ou entre em contato pelo WhatsApp ou Instagram!</p>
            
        </div>
    
        <a href="https://wa.me/81986832665?text=Olá%2C%20gostaria%20de%20agendar%20uma%20consulta%20veterinária." target="_blank">
            Agendar Consulta via WhatsApp
          </a>
        <br>
        <a href="https://www.instagram.com/littlest.petshop" target="_blank">
            Fale conosco no Instagram
        </a>

        <p style="text-align: center;">Caso o link não abra, clique para copiar: <strong>+55 81 98683-2665</strong></p>
          <p style="text-align: center;">Caso o link não abra, clique para copiar: <strong>@littlest.petshop</strong></p>
    </div>

</body>
</html>